@charset "utf-8";

/* header서식 */
header {
  height: 64px;
  background: var(--main_txt_color);
  position: relative;
}

header h1 {
  text-align: center;
}

header h1 img {
  width: 48px;
  padding-top: 5px;
}

.member_info {
  color: var(--txtColor1);
  text-align: right;
  font-size: 1.1rem;

}



/* footer서식 */
footer {
  background: #494949;
  width: 100%;
  color: #fff;
}

footer>div:not(:first-child) {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #000;
}

footer>div:first-child {
  background: #717171;
  width: 100%;

}

footer>div:first-child p {
  width: 90%;
  font-size: 24px;
  padding: 30px 0px;
  margin: 0 auto;
  font-weight: bold;
}


.footer_info {
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.footer_info a {
  padding: 5px 10px;
  color: #fff;
}

.footer_info a:first-child {
  border: 1px solid #333;
  text-align: center;
  color: #f00;
  background: #fff;
}

.footer_info img {
  width: 30px;
  background: #000;
  padding: 10px;
  border-radius: 50%;
}

.customer {
  padding: 20px;
}

.customer p {
  font-size: 18px;
  padding-bottom: 10px;
}

.customer p:not(:nth-child(2)) {
  color: #ccc;
  font-size: 12px !important;
}

footer>div:last-child {
  background: #494949;
  width: 90%;
  padding: 20px 10px;
  font-size: 18px;
  text-align: center;
}

footer>div:last-child img {
  padding-left: 10px;
}